In [1]:
# Dependencies
import os
import pandas as pd
from sqlalchemy import create_engine

TODO:

Add starting pitcher statistics to starting_pitcher_data.py
Add relif pitcher data fetch, relief pitcher statistics
Work on exponentially weighted moving averages and grouping in data wrangling

In [2]:
# Create engine
engine = create_engine('postgresql://postgres:1789@localhost:5433/baseball')

In [3]:
# Query the database
final_score_query = '''
SELECT * FROM final_scores
'''

batter_query = '''
SELECT * FROM batter_statistics
'''

pitcher_query = '''
SELECT * FROM pitchers
'''

final_scores_df = pd.read_sql(final_score_query, engine)
batter_df = pd.read_sql(batter_query, engine)
pitcher_df = pd.read_sql(pitcher_query, engine)

In [4]:
# Drop duplicates from all DataFrames
final_scores_df = final_scores_df.drop_duplicates()
batter_df = batter_df.drop_duplicates()
pitcher_df = pitcher_df.drop_duplicates()

In [5]:
# Redefine the inning column in pitcher_df as a string
pitcher_df['inning'] = pitcher_df['inning'].astype(str)

In [6]:
df = batter_df.merge(final_scores_df, on=['game_id', 'away_team', 'home_team'], how='left')

In [7]:
df = batter_df.merge(pitcher_df, on=['game_id', 'inning', 'batter_player_id'])

In [8]:
len(df)

1941995

In [9]:
df.head()

,game_id,home_team,away_team,inning,batter_home_away,batter_player_id,event_description,daynight,temp,winddirection,...,date,year,outcome,position,batter_name,pitcher_home_away,team,pitcher_player_id,pitcher_player_name,starter
0,ANA201204060,ANA,KCA,1,0,gorda001,8/F,night,69,tocf,...,20120406,2012,out in play,OF,Alex Gordon,0,ANA,weavj003,Jered Weaver,1
1,ANA201204060,ANA,KCA,1,0,cainl001,K,night,69,tocf,...,20120406,2012,strikeout,OF,Lorenzo Cain,0,ANA,weavj003,Jered Weaver,1
2,ANA201204060,ANA,KCA,1,0,hosme001,7/F,night,69,tocf,...,20120406,2012,out in play,1B,Eric Hosmer,0,ANA,weavj003,Jered Weaver,1
3,ANA201204060,ANA,KCA,1,1,aybae001,13/BG,night,69,tocf,...,20120406,2012,out in play,SS,Erick Aybar,1,KCA,chenb001,Bruce Chen,1
4,ANA201204060,ANA,KCA,1,1,kendh001,D8/F,night,69,tocf,...,20120406,2012,double,2B,Howie Kendrick,1,KCA,chenb001,Bruce Chen,1

In [10]:
# count the duplicates
df.duplicated().sum()

0

SyntaxError: invalid syntax (2484912725.py, line 3)