In [1]:
# Dependencies
import os
import pandas as pd
from sqlalchemy import create_engine

TODO:

Add starting pitcher statistics to starting_pitcher_data.py
Add relif pitcher data fetch, relief pitcher statistics
Work on exponentially weighted moving averages and grouping in data wrangling

In [2]:
# Create engine
engine = create_engine('postgresql://postgres:1789@localhost:5433/baseball')

In [3]:
# Query the database
final_score_query = '''
SELECT * FROM final_scores
'''

batter_query = '''
SELECT * FROM batter_statistics
'''

pitcher_query = '''
SELECT * FROM starting_pitchers
'''

final_scores_df = pd.read_sql(final_score_query, engine)
batter_df = pd.read_sql(batter_query, engine)
pitcher_df = pd.read_sql(pitcher_query, engine)

In [4]:
final_scores_df

      away_team home_team  away_team_score  home_team_score       game_id
0           SEA       OAK                3                1  OAK201203280
1           SEA       OAK                1                4  OAK201203290
2           SLN       MIA                4                1  MIA201204040
3           TOR       CLE                7                4  CLE201204050
4           BOS       DET                2                3  DET201204050
...         ...       ...              ...              ...           ...
25190       KCA       CLE                2                9  CLE202210050
25191       PHI       HOU                2                3  HOU202210050
25192       ANA       OAK                2                3  OAK202210050
25193       DET       SEA                4                5  SEA202210050
25194       NYA       TEX                2                4  TEX202210050

[25195 rows x 5 columns]

In [5]:
batter_df

,game_id,home_team,away_team,inning,home_away,batter_player_id,event_description,daynight,temp,winddirection,windspeed,precip,sky,batting_team,date,year,outcome,position,batter_name
0,ANA201204060,ANA,KCA,1,0,gorda001,8/F,night,69,tocf,4,unknown,sunny,KCA,20120406,2012,out in play,OF,Alex Gordon
1,ANA201204060,ANA,KCA,1,0,cainl001,K,night,69,tocf,4,unknown,sunny,KCA,20120406,2012,strikeout,OF,Lorenzo Cain
2,ANA201204060,ANA,KCA,1,0,hosme001,7/F,night,69,tocf,4,unknown,sunny,KCA,20120406,2012,out in play,1B,Eric Hosmer
3,ANA201204060,ANA,KCA,1,1,aybae001,13/BG,night,69,tocf,4,unknown,sunny,ANA,20120406,2012,out in play,SS,Erick Aybar
4,ANA201204060,ANA,KCA,1,1,kendh001,D8/F,night,69,tocf,4,unknown,sunny,ANA,20120406,2012,double,2B,Howie Kendrick
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1934859,WAS202210020,WAS,PHI,6,1,adamr004,K,day,56,fromcf,6,none,overcast,WAS,20221002,2022,strikeout,C,Riley Adams
1934860,WAS202210020,WAS,PHI,6,1,thoml002,W,day,56,fromcf,6,none,overcast,WAS,20221002,2022,walk,OF,Lane Thomas
1934861,WAS202210020,WAS,PHI,6,1,abrac001,D9/G3.1-3,day,56,fromcf,6,none,overcast,WAS,20221002,2022,double,SS,CJ Abrams
1934862,WAS202210020,WAS,PHI,6,1,menej001,63/G6.3-H,day,56,fromcf,6,none,overcast,WAS,20221002,2022,out in play,1B,Joey Meneses
1934863,WAS202210020,WAS,PHI,6,1,voitl001,K,day,56,fromcf,6,none,overcast,WAS,20221002,2022,strikeout,1B,Luke Voit

In [6]:
pitcher_df

,game_id,home_away,starting_pitcher_player_id,starting_pitcher_player_name
0,CHN201204050,0,stras001,Stephen Strasburg
1,CHN201204050,1,dempr002,Ryan Dempster
2,CHN201204070,0,gonzg003,Gio Gonzalez
3,CHN201204070,1,garzm001,Matt Garza
4,CHN201204080,0,zimmj003,Jordan Zimmermann
...,...,...,...,...
50385,DET202209300,1,alext001,Tyler Alexander
50386,DET202210010,0,bundd001,Dylan Bundy
50387,DET202210010,1,hutcd001,Drew Hutchison
50388,DET202210020,0,woods002,Simeon Woods Richardson
50389,DET202210020,1,wentj001,Joey Wentz

In [7]:
batter_df = batter_df.merge(final_scores_df, on=['game_id', 'away_team', 'home_team'], how='left')

In [8]:
df = batter_df.merge(pitcher_df, on=['game_id', 'home_away'], how='left')

In [9]:
len(df)

1934864

In [10]:
df.head()

,game_id,home_team,away_team,inning,home_away,batter_player_id,event_description,daynight,temp,winddirection,...,batting_team,date,year,outcome,position,batter_name,away_team_score,home_team_score,starting_pitcher_player_id,starting_pitcher_player_name
0,ANA201204060,ANA,KCA,1,0,gorda001,8/F,night,69,tocf,...,KCA,20120406,2012,out in play,OF,Alex Gordon,0.0,5.0,chenb001,Bruce Chen
1,ANA201204060,ANA,KCA,1,0,cainl001,K,night,69,tocf,...,KCA,20120406,2012,strikeout,OF,Lorenzo Cain,0.0,5.0,chenb001,Bruce Chen
2,ANA201204060,ANA,KCA,1,0,hosme001,7/F,night,69,tocf,...,KCA,20120406,2012,out in play,1B,Eric Hosmer,0.0,5.0,chenb001,Bruce Chen
3,ANA201204060,ANA,KCA,1,1,aybae001,13/BG,night,69,tocf,...,ANA,20120406,2012,out in play,SS,Erick Aybar,0.0,5.0,weavj003,Jered Weaver
4,ANA201204060,ANA,KCA,1,1,kendh001,D8/F,night,69,tocf,...,ANA,20120406,2012,double,2B,Howie Kendrick,0.0,5.0,weavj003,Jered Weaver